.line {
  display: block;
  margin: 10px;
}

.box {
  border: 2px solid black;
  margin: 20px;
  padding: 0;
}

.head {
  background: rgb(255, 255, 255);
}

.relLine8 {
  display: inline;
}

.submitButton {
  position: relative;
  transform: translate(10px, 10px);
}
